# Copia este archivo a .env.local y completa con tus valores

# Web Admin
NEXT_PUBLIC_ECOMMERCE_CONTRACT_ADDRESS=0x...
NEXT_PUBLIC_EUROTOKEN_CONTRACT_ADDRESS=0x...
WALLET_PRIVATE_KEY=0x...
ETHEREUM_RPC_URL=http://localhost:8545
